/.idea/
/.vagrant
/docs/build
/fuzz/artifacts
/fuzz/corpus
/fuzz/coverage
/fuzz/target
/index.redb
/ord.log
/target
/test-times.txt
/tmp

EMPTY.txt
empty-out.txt
with-dns-records.txt
with-validity-out.txt
with-validity.txt

